<nav class="navbar navbar-inverse navbar-fixed-top animate">
	<div class="container">
		<ul class="nav navbar-nav navbar-right mobile-bar">
			<li class="nav-item {{#if origin.selection }}active{{/if}} {{#if origin.register}}disabled{{/if}}">
				<a href="/selection">
					<span class="menu-icon fa fa-cube"></span>
					<span>Auswahl</span>
				</a>
			</li>
			<li class="nav-item {{#if origin.users }}active{{/if}} {{#if origin.register}}disabled{{/if}}">
				<a href="/users">
					<span class="menu-icon fa fa-group"></span>
					<span class="hidden-xs">Benutzer</span>
					<span class="visible-xs">Benutzer</span>
				</a>
			</li>
        	{{#if treasurer }}
			<li class="nav-item {{#if origin.treasury }}active{{/if}} {{#if origin.register}}disabled{{/if}}">
				<a href="/treasury">
					<span class="menu-icon fa fa-diamond"></span>					
					<span class="hidden-xs">Clan Halle</span>
					<span class="visible-xs">Clan Halle</span>
				</a>
			</li>
        	{{/if}}
			<li>
				<a href="/logout">
					<span class="menu-icon fa fa-close"></span>						
					<span class="hidden-xs">Logout</span>
					<span class="visible-xs">Logout</span>
				</a>
				</li>
			</ul>
	</div>
</nav>